@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body{
    font-family: 'Source Code Pro', monospace !important;
}

.cardImg{
    width: 100%;
    height: 100%;
}